.button {
  display: block;
  font-size: 35px;
  line-height: 40px;
  padding: 5px 40px 15px;
  border-radius: 30px;
  //box-shadow: 0 0 20px #7f67ff, 0 0 20px #7f67ff, 0 0 8px 3px #fff;
  background-image: linear-gradient(to bottom, #ffe402 0%, #ff0404 100%);

  @media screen and (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    padding: 5px 30px 15px;
  }

  &:hover {
    background-image: linear-gradient(
      to bottom,
      darken(#7f67ff, 5) 0%,
      darken(#5038cf, 5) 100%
    );
  }
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  &__text {
    color: #fff;
  }
}
