@font-face {
  font-family: "DopisBold";
  src: url("../fonts/Dopis-Bold.woff2") format("woff2"),
    url("../fonts/Dopis-Bold.woff") format("woff"),
    url("../fonts/Dopis-Bold.ttf") format("truetype");
}

/* @font-face {
  font-family: "DopisBold";
  src: url("../fonts/Pari-Match-Regular.eot");
  src: url("../fonts/Pari-Match-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Dopis-Bold.woff2") format("woff2"),
    url("../fonts/Dopis-Bold.woff") format("woff"),
    url("../fonts/Dopis-Bold.ttf") format("truetype"),
    url("../fonts/Pari-Match-Regular.svg#PariMatchRegular") format("svg");
}
 */
