@font-face {
  font-family: "PariMatchRegular";
  src: url("../fonts/Pari-Match-Regular.eot");
  src: url("../fonts/Pari-Match-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Pari-Match-Regular.woff2") format("woff2"),
    url("../fonts/Pari-Match-Regular.woff") format("woff"),
    url("../fonts/Pari-Match-Regular.ttf") format("truetype"),
    url("../fonts/Pari-Match-Regular.svg#PariMatchRegular") format("svg"); /* iOS 4.1- */
}
