.list-custom {
  &__inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: 840px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    color: #ffed00;
    display: flex;
    @media screen and (max-width: 840px) {
      width: 340px;
    }
  }
  &__number {
    font-size: 70px;
    line-height: 70px;
    padding-right: 10px;
    @media screen and (max-width: 1020px) {
      font-size: 52px;
      line-height: 52px;
    }

    @media screen and (max-width: 840px) {
      font-size: 70px;
      line-height: 70px;
    }
  }
  &__text {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 32px;
    @media screen and (max-width: 1020px) {
      font-size: 22px;
      line-height: 22px;
    }
    @media screen and (max-width: 840px) {
      font-size: 26px;
      line-height: 32px;
      padding: 0 15px;
    }
  }
  &__arrow {
    font-size: 72px;
    line-height: 60px;
    padding: 0 30px;
    @media screen and (max-width: 1020px) {
      font-size: 52px;
      line-height: 44px;
      padding: 0 20px;
    }
    @media screen and (max-width: 840px) {
      display: none;
      padding: 0;
    }
  }
}
