.slogan {
  margin-bottom: 50px;
  &__text {
    text-align: center;
    font-size: 100px;
    color: #fff;
    line-height: 110px;
    text-shadow: 0 0 20px #7f67ff, 0 0 20px #7f67ff;
    @media screen and (max-width: 768px) {
      font-size: 50px;
      line-height: 55px;
    }
  }
}
