.action
  .action__inner
    .action__do-reg
      img(src="./img/action__text.png").img.action__img
    .action__promo
      .action__promo-text SIBERIAN
    .action__do-benefit
      img(src="./img/action__text-2.png").img.action__img
    .action__reg
      a(href="mylink").link.action__link
        span.action__link-text Регистрация

    .action__list.list-custom
      .list-custom__inner
        .list-custom__item
          .list-custom__number 1.
          .list-custom__text
            | заходи на сайт 
            br
            | Joycasino
          .list-custom__arrow &rsaquo;
        .list-custom__item
          .list-custom__number 2.
          .list-custom__text
            | вводи
            br
            | бонус код
          .list-custom__arrow &rsaquo;
        .list-custom__item
          .list-custom__number 3.
          .list-custom__text 
            | получи бонус
            br
            | 5 USD!
          
