.main#maintext
  .main__inner
    .main__title Правила акции
    .main__body 
      p.main__paragraph 1. Участие в акции принимают все депозиты, сделанные в период с 22.06.2020 00:00 (GMT +3) до 27.06.2020 23:59 (GMT +3).
      p.main__paragraph 2. В кешбэке принимают участие: ставки на киберспорт, casino, crash.
      p.main__paragraph 3. Ежедневно на главной странице сайта будет размещен баннер, в котором указывается процент кешбэка в указанный день с 00:00 до 23:59 (GTM+3). 
      p.main__paragraph 4. Кешбэк за день начисляется, только в случае, если пользователь сделал депозит в этот день.
      p.main__paragraph 5. Сумма кешбэка за день не может превышать указанный процент от суммы депозитов сделанных в этот день
      p.main__paragraph 6. Кешбэк рассчитывается следующим: [сумма ставок - сумма выигрышных ставок * коэффициент - сумма выигрышей в казино + сумма проигрышей в казино] * % кэшбека за указанный день
      p.main__paragraph 7. Сумма Кешбэка будет начислена на баланс пользователей в течение 144 часов после окончания акции.
      p.main__paragraph 8. Кешбэк доступен только для одного игрового счета на человека, семью, квартиру, компьютер или IP-адрес. При возникновении подозрений в нарушении правил путем множественных регистраций (поддельные счета, игровые группы) Streambet аннулирует кешбэк и причитающиеся на него выигрыши. В случае регистрации второй учетной записи, она будет удалена, а все игровые бонусы и выигрыши могут быть аннулированы.
      p.main__paragraph 9. Компания оставляет за собой право отказать клиенту в предоставлении кешбэка без объяснения причин в случае, если пользователь нарушил Общие положения и Правила ставок.
      p.main__paragraph 10. Компания имеет право приостанавливать, отменять или отзывать выплаты или выигрыши, связанные со средствами, начисленными в виде кешбэка, в том случае, если у нас появится подозрение в том, что Пользователь намеренно злоупотребляет ими.
      p.main__paragraph 11. Настоящие условия могут быть изменены и дополнены как в период проведения турнира, так и в любое другое время.
      p.main__paragraph 12. Streambet оставляет за собой право прекратить акцию в любое время по своему усмотрению, без предварительного уведомления
