.screen
  .layout__wrap
    .screen__inner
      .screen__first
        section.screen__logo
          include ./logo
        section.screen__slogan-logo скандинавская мода уже здесь
        
        section.screen__main-box
          section.screen__slogan-main для современных женщин, которые ценят комфорт и исключительный стиль
          section.screen__discount.discount
            .discount__inner
              .discount__slogan Переходи в магазин и делай покупки со
              .discount__box
                .discount__text скидкой
                .discount__up-to дo
                .discount__count 50%

        section.screen__button
          button.button.botton_main.screen__button-move
            .button__text Перейти в магазин
        section.screen__run-string.run-string
          .run-string__inner
            span.run-string__text Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale  Sale Sale Sale Sale Sale Sale Sale Sale Sale Sale