.screen
  .layout__wrap
    .screen__inner
      .screen__second
        section.screen__logo.screen__logo_second
          include ./logo-dark
        section.screen__slogan-logo-dark В чем наша уникальность?
        section.screen__utp.utp
          .utp__inner
            .utp__item
              .utp__title NOOS (Newer Out of Stock)
              .utp__body Состоит из базовых моделей одежды, которые выполнены в разных расцветках. Те вещи, из которых можно составить простую базу для гардероба

            .utp__item
              .utp__title Экспресс коллекции
              .utp__body это внутри сезонные добавления к основным коллекциям. Которые базируются на одном возникшем сильном тренде.
            
            .utp__item
              .utp__title FOREVER
              .utp__body новая концепция, которая охватывает классическую и вневременную моду в рамках сезонных тенденций. Эти модели останутся в вашем гардеробе надолго.
        section.screen__button
          button.button.button_alt.screen__button-move
            .button__text Перейти в магазин
        section.screen__contact.contact
          .contact__inner
            .contact__box
              .contact__title Контакты:
              .contact__number 38 068 857 87 60